button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger {
  box-sizing: content-box;
  position: relative;
  width: 30px;
  height: 18px;
  border-top: 3px #333333 solid;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 3px;
    background-color: #333333;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 80%);
    width: 100%;
    height: 3px;
    background-color: #333333;
  }

  &:active {
    border-top: 3px #e1670e solid;

    &:active {
      &::after {
        background-color: #e1670e;
        width: 25px;
      }

      &::before {
        background-color: #e1670e;
        width: 18px;
      }
    }
  }

  @media (min-width: 1920px) {
    display: none;
  }
}

.button--orange {
  display: block;
  padding: 13px 0;
  width: 162px;
  background-color: #ff9900;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  z-index: 2;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #f7b045;
  }

  &:active {
    background-color: #e1670e;
  }
}

.button--transparent {
  display: block;
  padding: 10px 0;
  width: 163px;
  background-color: transparent;
  border: 3px solid #ff9900;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #ff9900;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #ff9900;
  }

  &:active {
    background-color: #e1670e;
    border: 3px solid #e1670e;
  }

  @media (min-width: 768px) {
    padding: 18px 0;
    width: 174px;
    font-size: 16px;
    color: #fff;
  }
}

.button--orange--header {
  @media (min-width: 768px) {
    padding: 25px 0;
    width: 280px;
    font-size: 23.46px;
  }
}
