.section--sub
    .col.col--svg
        .section__img-wrapper--svg
            svg(class="ellipce")
                use(xlink:href="./img/main/svg-sprite_main.svg#ellipce")
            svg(class="package")
                use(xlink:href="./img/main/svg-sprite_main.svg#package")
    .col
        h3.section__heading--sub Консультация с широким активом
        p.section__desc.section__desc--sub
            | А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.
.section--sub
    .col.col--svg
        .section__img-wrapper--svg
            svg(class="ellipce")
                use(xlink:href="./img/main/svg-sprite_main.svg#ellipce")
            svg(class="gear")
                use(xlink:href="./img/main/svg-sprite_main.svg#gear")
    .col
        h3.section__heading--sub В своём стремлении повысить
        p.section__desc.section__desc--sub
            | Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества.