//- Slider main container
.swiper
    .swiper-wrapper
        .swiper-slide
            img.swiper__img(src="./img/header/header-1.jpg")
        .swiper-slide
            img.swiper__img(src="./img/header/header-2.jpg")
        .swiper-slide
            img.swiper__img(src="./img/header/header-3.jpg")
    .swiper-pagination

