.header__top
    .container
        .row.space-between.ai-c
            button.hamburger
            a.logo(href="index.html")
                .row.ai-c
                    svg(class="logo__pic")
                        use(xlink:href="./img/header/svg-sprite_header.svg#logo")
                    svg(class="logo__text")
                        use(xlink:href="./img/header/svg-sprite_header.svg#logoText")
            .row
                nav.header__nav
                    a.nav__link(href="#!") О нас
                    a.nav__link(href="#!") Проекты
                    a.nav__link(href="#!") Этапы
                    a.nav__link(href="#!") Отзывы
                    a.nav__link(href="#!") Контакты
                button.header__surch
                    svg(class="surch-ico")
                        use(xlink:href="./img/header/svg-sprite_header.svg#surchIco")