.header-content
    .header-text
        h1.heading--main Проектные решения <br class="header__br">любой сложности
        p.header--desc Есть над чем задуматься: базовые сценарии поведения<br class="header__br"> пользователей и по сей день остаются уделом проектантов
    a.button--orange.button--orange--header(href="#!") Заказать расчёт
    include ./header-slider.pug
